<div class="container">
	<div class="row w-100 mx-0 pt-md-5">
		<h1 class="text-center text-dark-blu fw-bold py-4">Free up your time by <br> using Simple Tax Returns</h1>
		<div class="col-md-6 text-center py-3">
			<%= image_tag('speed-service.png', class: 'w-25 mb-3')%>
			<h4>Super speedy service</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit</p>
		</div>
		<div class="col-md-6 text-center py-3">
			<%= image_tag('simple-note.png', class: 'w-25 mb-3')%>
			<h4>We keep things simple</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit</p>
		</div>
		<div class="col-md-6 text-center py-3">
			<%= image_tag('save-tax.png', class: 'w-25 mb-3')%>
			<h4>We save you tax</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit</p>
		</div>
		<div class="col-md-6 text-center py-3">
			<%= image_tag('confidential.png', class: 'w-25 mb-3')%>
			<h4>Strictly confidential</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row w-100 mx-0 py-md-5">
		<div class="col-md-9 text-center bg-dark-blu p-4 rounded-3 mx-auto">
				<h1 class="fw-bold text-center text-warning">98% of customers would <br> use our service again</h1>
				<div class="">
					<%= image_tag('reviews-white.png', class: 'py-4 w-50')%>
				</div>
				<button class="btn btn-warning rounded-pill px-3 text-white fw-bold">START FOR FREE <i class="fas fa-long-arrow-alt-right ms-2"></i></button>
		</div>
	</div>
</div>

<div class="container">
	<div class="row w-100 mx-0 pb-5">
		<div class="col-md-6">
			<h1 class="fw-bold text-dark-blu">The UK's leading <span class="text-warning">tax rebate</span> experts</h1>
			<p>
				The UK’s tax laws are a maze of deadlines, exemptions and penalties. RIFT’s tax refund specialists are the best in the business at handling the complex details of rebate claims. From calculating mileage and other tricky expenses to protecting your refund from HMRC enquiries, RIFT keeps online tax rebate claims simple, stress-free and safe.
			</p>
			<p>
				We've claimed back over £281 million in tax rebates for over 160,000 people like you since 1999. We look after every claim on an individual basis so we can do what is best for you.
			</p>
		</div>
		<div class="col-md-6">
			<%= image_tag('tax-expert.jpg', class: 'w-100')%>
		</div>
	</div>
</div>